<head>
	<link rel="stylesheet" href="/public/css/basic.css">
</head>
<div>
	<h2>${ctx.path}</h2>
	<hr>
	Login with
	<a href="/passport/steam">Steam</a>
	<hr>
	<a href="/">Home</a> | <a href="/user">User</a>
</div>